<h1>Editing hrm session</h1>

<%= render "form", hrm_session: @hrm_session %>

<br>

<div>
  <%= link_to "Show this hrm session", @hrm_session %> |
  <%= link_to "Back to hrm sessions", hrm_sessions_path %>
</div>
