<p style="color: green"><%= notice %></p>

<div class="page-navigation">
  <%= link_to "Back to HRM Sessions List", hrm_sessions_path, class: 'btn btn-secondary' %>
</div>

<%= render @hrm_session %>

